/* Main */
/* Hero section */
.m__section_hero {
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: grayscale(50%);
}